
body {
  font-family: 'Raleway','Lato', sans-serif;
}

@media (min-width: 1200px){
  .inner {
    width: 1100px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
}

.header-inner {
  padding: 15px 0;
}

.bolt {
  font-size: 42px;
}

.header-button {
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #FFFFFF;
  border: none;
  transition-duration: 0.3s;
}

.header-button:hover {
  color: #333;
}

.header-left {
  float: left;
  display: inline-block;
}

.header-right {
  float: right;
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  padding-top: 72px;
}

.theme {
  width: 100%;
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
  text-align: center;
}

.theme-inner-bolt {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.theme-inner-bootstrap {
  font-size: 30px;
  color: #c0c0c0;
}

.iphone {
  background-color: #74cfae;
  text-align: center;
  font-size: 0;
}

.iphone-inner {
  display: flex;
  padding-top: 50px;
}

.iphone-figure {
  display: inline-block;
  width: 348px;
  text-align: center;
}

.iphone-block {
  display: inline-block;
  padding: 0 70px;
  vertical-align: top;
  box-sizing: border-box;
  flex: 1;
}

.iphone-heading {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 35px;
  display: inline-block;
}

.iphone-sentence {
  font-size: 20px;
  color: #FFFFFF;
}

.article-work {
  width: 100%;
  background-color: #f2f2f2;
  margin: auto;
}

.work-inner {
  text-align: center;
  padding: 60px 0 70px 0;
}

.work-heading {
  font-size: 24px;
}

.work-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 90px;
}

.work-img figure {
  margin-right: 100px;
}

.work-img figure:nth-child(3n) {
  margin-right:0px;
}

.work-img figure:nth-child(n+1):nth-child(-n+3) {
  margin-bottom:80px;
}

.work {
  opacity: 0.7;
  transition-duration: 0.3s;
}

.work:hover {
  opacity: 1;
}

.mail-block {
  display: flex;
  align-items: center;
  /*margin: 90px;*/
}

.mail-block-sentence{
  display: inline-block;
  font-size: 16px;
  width: 100%;
  flex: 1;
  margin-right: 90px;
}

.mail-block-button {
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #FFFFFF;
  border: none;
  width: 100px;
  transition-duration: 0.3s;
}

.mail-block-button:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
}

.skills-box {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills-heading {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 70px;
}

.skills-box figure {
  display: inline-block;
  margin-right: 180px;
}

.skills-box figure:last-child {
  margin-right: 0px;
}

.skills-box p {
  margin-top: 10px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.sns-contents {
  width: 100%;
  background-color: #f2f2f2;
  padding: 200px 0px;
}

.sns-contents-ul {
  text-align: center;
}

.sns-contents-ul li {
  display: inline-block;
}

.icon {
  display: block;
  width: 185px;
  font-size: 42px;
  color: #74cfae;
  padding: 45px 0px;
  transition-duration: 0.3s;
}

.icon:hover {
  background-color: #FFFFFF;
}

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-block {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-state {
  color: #FFFFFF;
  text-align: right;
}